<app-header title="Microcontenido">

</app-header>

<ion-content>
    <ion-card *ngFor="let mc of microcontenidosActivos" (click)="vergestorcontenido(mc.id)">
               
                <ion-grid color="white" fixed>
                    <ion-row >
                        <ion-col size=3 >
                            <ion-thumbnail>
                                <img [src]="mc.imagebase64 | imagebase64">
                            </ion-thumbnail>
                        </ion-col>
                        <ion-col size=9>                            
                                <p [innerHTML]="mc.title"></p>                            
                        </ion-col>
                    </ion-row>
                    <ion-row color="white" >
                        
                        <ion-col size=5>
                            <ion-icon name="calendar" color="primary"></ion-icon>
                            <span>02-Feb-20</span>
                        </ion-col>
                        <ion-col size=3>
                            <ion-icon name="trophy" item-left color="primary"></ion-icon>
                            <span>10</span></ion-col>
                        <ion-col size=4>
                            <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            <ion-label>50%</ion-label>
                        </ion-col>

                    </ion-row>
                </ion-grid>
        
    </ion-card>
</ion-content>