<app-header title="Microcontenido">

</app-header>

<ion-content>
  


  

      
        
        <ion-card *ngFor="let mc of microcontenidosActivos" (click)="vergestorcontenido(mc.id)">
            <ion-card-header>
                
                <ion-card-title class="text-primary" [innerHTML]="mc.name"></ion-card-title>
                <ion-card-subtitle>                    
                    <span class="text-primary" [innerHTML]="mc.title"></span>                                              
                  </ion-card-subtitle>
              </ion-card-header>




          <img [src]="mc.image | imagen">

          <ion-card-content>
              
                <div [innerHTML]='mc.content | noSanitize'></div>
              
              <p><span>Puntaje</span> 
                  {{ mc.points }}
                </p>
            </ion-card-content>
        </ion-card>
    
    
      
    

</ion-content>
