ion-card {
    border: 1px #ffffff3d solid;
    --background: white;
}

ion-title {
    background-color: white;
    background-color: #4a828d !important;
}

ion-thumbnail {
    min-width: 6rem;
    min-height: 6rem;
    img {
        max-width: 5rem;
        min-width: 5rem;
    }
}

ion-list {
    background-color: white;
    border: 1px #e8e9e9 solid;
}

ion-item {
    min-height: 8rem;
    border: 1px #e8e9e9 solid !important;
}

.ion-padding-left {
    padding-left: 16px;
}

.text-on-bottom>.button-inner {
    flex-direction: column;
}

.align-items-end {
    flex-wrap: nowrap
}

ion-content {
    --background: #efefef !important;
    background-color: #efefef !important;
}

ion-label {
    color: #4a828d !important;
}

span {
    color: #4a828d !important;
}

ion-slide {
    background-color: #efefef !important;
    //background: url('src/assets/img/Fondo.png');
}

p {
    padding-left: 13px !important;
    color: #4a828d !important;
    font-size: 16px;
}