<ion-header no-border color="dark">
    <ion-toolbar color="dark">            
      <ion-button slot="start">
          <ion-back-button text ="" defaultHref="/inicio"></ion-back-button>
      </ion-button>
      <ion-title text-capitalize > {{title}} </ion-title>

      <ion-button slot="end" (click)="logout()" 
                              color="danger"
                              >
            <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>

      <ion-buttons slot="end">
         
          <ion-menu-button color="primary"
                           menu="primerMenu">
          </ion-menu-button>
    
        </ion-buttons>

    </ion-toolbar>
  </ion-header>