<ion-header no-border color="dark">
    <ion-toolbar color="dark">            
      <ion-button slot="start">
          <ion-back-button text ="" defaultHref="/login"></ion-back-button>
      </ion-button>
      <ion-title text-capitalize > Terminos y condiciones </ion-title>

     
    </ion-toolbar>
  </ion-header>

<ion-content color="dark">
    <ion-card color="dark">

        <ion-card-header>
          <ion-card-subtitle>
                
                 
      
          </ion-card-subtitle>
          
        </ion-card-header>
      
      
        <ion-card-content>
          <p>
              <ion-item color="dark">
                  <ion-textarea placeholder="Terminos y Condiciones">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis nibh luctus, pharetra ex vel, laoreet turpis. Aenean lobortis, odio a interdum egestas, turpis purus tempor urna, nec lobortis diam metus ut nulla. Sed mauris orci, egestas non felis et, consequat lacinia justo. Nam velit orci, tincidunt eu aliquam quis, viverra et tellus. Ut consectetur a ante vitae molestie. Integer a dictum ligula. Nunc elementum eros at ante fringilla scelerisque. Nam eleifend dolor vel dapibus pharetra.

                      Integer elementum bibendum risus eget sodales. Morbi rutrum dolor id dictum sodales. Nunc iaculis odio vel nunc facilisis sodales. Vivamus dolor nisl, semper accumsan commodo ut, aliquet sed diam. Aenean pellentesque enim in pharetra tincidunt. Pellentesque ornare lacus at dui auctor, vel luctus ligula fermentum. Vestibulum interdum mauris tempus congue interdum. Etiam blandit venenatis metus id pretium. Donec sed mi eget ligula scelerisque maximus. Duis congue, neque at fermentum hendrerit, ex nisl feugiat justo, vel condimentum leo neque eget felis. Praesent aliquam quis neque non faucibus.

                  </ion-textarea>
                </ion-item>
          </p>
        </ion-card-content>
      
      </ion-card>




