<ion-header no-border >
    <ion-toolbar color="dark">
  
      <ion-buttons slot="end">
         
        <ion-menu-button color="primary"
                         menu="primerMenu">
        </ion-menu-button>
  
      </ion-buttons>
  
  
      <ion-title>Tablero</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
  
    <ion-card href="/activos" class="activated">
      <ion-card-header> 
        <ion-card-title class="text-primary" >

          <ion-thumbnail>
            <ion-img src="/assets/Icono-Activo.png" ></ion-img>
        </ion-thumbnail>
        Activos
      </ion-card-title>
        <ion-card-subtitle class="noticia-source-name" > Ver mis microcontenidos activos</ion-card-subtitle>       
      </ion-card-header>
    
      <ion-card-content *ngIf="objcountobject">
        <ion-badge color="success">Total {{ objcountobject.activenumber}} </ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card href="/finalizados" class="activated">
      <ion-card-header>
        <ion-card-title class="text-primary">
         <!-- <ion-icon name="close"></ion-icon> -->
        <ion-thumbnail>
          <ion-img src="/assets/Icono-Finalizado.png" ></ion-img>
        </ion-thumbnail>
          Finalizados
        </ion-card-title>
        <ion-card-subtitle class="noticia-source-name" > Ver mis microcontenidos finalizados</ion-card-subtitle>  
      </ion-card-header>
    
      <ion-card-content *ngIf="objcountobject">
        <ion-badge color="danger">Total {{ objcountobject.inactivednumber}}</ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card href="/mispuntos" class="activated">
      <ion-card-header>        
        
        <ion-card-title class="text-primary"> 
          <!--<ion-icon name="more"></ion-icon> -->
          <ion-thumbnail>
            <ion-img src="/assets/Icono-Puntos.png" ></ion-img>
          </ion-thumbnail>
          Mis puntos</ion-card-title>
        <ion-card-subtitle class="noticia-source-name" > Mis puntos acumulados</ion-card-subtitle>  
      </ion-card-header>
    
      <ion-card-content *ngIf="objcountobject">
        <ion-badge color="primary"> Total {{ objcountobject.totalpoints}}</ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card href="/contenidos" class="activated">
      <ion-card-header>                
        <ion-card-title class="text-primary"> 
          <!--<ion-icon name="logo-game-controller-a"></ion-icon> -->
          <ion-thumbnail>
            <ion-img src="/assets/Icono-Juegos.png" ></ion-img>
          </ion-thumbnail>
          Juegos</ion-card-title>
        <ion-card-subtitle class="noticia-source-name" > Juegos en APPSCORE</ion-card-subtitle> 

      </ion-card-header>
    
      <ion-card-content>
        <ion-badge color="warning">Total 0</ion-badge>
      </ion-card-content>
    </ion-card>
  </ion-content>