<ion-content>


  <ion-slides pager="true" class="slide-full">

    <ion-slide *ngFor="let slide of slides">

      <ion-card mode="ios">

        <img [src]="slide.img" class="slide-image">
         
        <ion-card-header>
         <ion-card-title>   </ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          {{ slide.desc }}
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-button expand="full"
                  color="primary"
                  fill="clear"
                  (click)="onClick()">
        Inscribete con nosotros!
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="tertiary"
                      (click)="mostrarRegistro()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary"
                    (click)="mostrarLogin()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
