.slide-full {
    height: 100% !important;
}

ion-card {
    overflow: unset !important;
}

.slide-image {
   // width: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
    background-color: #383838f2;
}

ion-card-content {
    position: relative;
    top: -50px;
    color: white;
    background-color: #383838f2;
}

ion-slide{
    background: url('src/assets/img/Fondo.png');
    width: 90%;
}

ion-footer{
    background-color: black;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

