<app-header title="Cambiar contraseña">

  </app-header>

  <ion-content>

      <ion-row class="top-20">
        
        <ion-col size="12" text-center>
          <img src="assets/avatars/{{ currentUser.avatar }}" class="img-avatar">
        </ion-col>
    
      </ion-row>
    
      <ion-row class="top-20">
        <ion-col size="12" text-center>
          <ion-label>
            <h1>Cambiar contraseña</h1>
          </ion-label>
        </ion-col>
      </ion-row>
    
    
     
    
      <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
          <ion-row>
              <ion-col>
                  
                  <ion-list>
                      
                      <ion-item>
                      <ion-label>Email</ion-label>
                      <ion-input name="email" 
                                  type="email"
                                  [(ngModel)]="currentUser.email"
                                  placeholder="Email"
                                  disabled
                                  required></ion-input>
                      </ion-item>

                      <ion-item>
                      <ion-label>Password</ion-label>
                      <ion-input name="password"
                                  type="password"
                                  [(ngModel)]="currentUser.password"
                                  placeholder="Password"
                                  required></ion-input>
                      </ion-item>

                      <ion-item>
                      <ion-label>Confirmar password</ion-label>
                      <ion-input name="Confirmarpassword"
                                  type="password"
                                  [(ngModel)]="currentUser.password"
                                  placeholder="Confirmar Password"
                                  required></ion-input>
                      </ion-item>

                  </ion-list>
              </ion-col>
          </ion-row>
          
          <ion-row>
          <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round">
                  Cambiar contraseña
              </ion-button>
          </ion-col>
      </ion-row>
      
      </form>
    
    
    </ion-content>



  
  
 
  