<ion-content color="withe">
    <ion-slides class="mainSlide" #slidePrincipal>
        <ion-slide>
            <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col>
                            <img src="/assets/InicioAppScore.jpg" (click)="gotoBanner()" />
                        </ion-col>
                    </ion-row>
                    <ion-row style="background: transparent;">
                        <ion-col>
                            <ion-list style="background: transparent;">
                                <ion-item color="withe">
                                    <ion-label>Correo </ion-label>
                                    <ion-input name="email" type="email" [(ngModel)]="loginUser.email" class="item-native" required>
                                    </ion-input>
                                </ion-item>
                                <ion-item color="withe">
                                    <ion-label>Contraseña</ion-label>
                                    <ion-input name="password" type="password" [(ngModel)]="loginUser.password" class="item-native" required></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" color="tertiary" shape="round">
                                Ingresar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>Al iniciar sesion, aceptas la politica de privacidad y los terminos de uso de SCORE</ion-label><br />
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>
        <ion-slide>
            <ion-grid fixed>
                <!-- Avatar Selector -->
                <app-avatar-selector (avatarSel)="registerUser.avatar = $event"></app-avatar-selector>

                <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
                    <ion-row>
                        <ion-col>
                            <ion-list>
                                <ion-item color="withe">
                                    <ion-label>Email</ion-label>
                                    <ion-input name="email" type="email" [(ngModel)]="registerUser.email" placeholder="Email" required></ion-input>
                                </ion-item>

                                <ion-item color="withe">
                                    <ion-label>Password</ion-label>
                                    <ion-input name="password" type="password" [(ngModel)]="registerUser.password" placeholder="Password" required></ion-input>
                                </ion-item>

                                <ion-item color="withe">
                                    <ion-label>Confirmar password</ion-label>
                                    <ion-input name="Confirmarpassword" type="password" [(ngModel)]="registerUser.password" placeholder="Confirmar Password" required></ion-input>
                                </ion-item>

                                <ion-item color="withe">
                                    <ion-label>Nombre</ion-label>
                                    <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required></ion-input>
                                </ion-item>

                                <ion-item color="withe">
                                    <ion-label>Apellido</ion-label>
                                    <ion-input name="apellido" type="text" [(ngModel)]="registerUser.apellido" required></ion-input>
                                </ion-item>

                                <ion-item color="withe">
                                    <ion-label>Usuario</ion-label>
                                    <ion-input name="usuario" type="text" [(ngModel)]="registerUser.usuario" required></ion-input>
                                </ion-item>

                                <ion-item color="withe">
                                    <ion-checkbox color="primary"> </ion-checkbox>
                                    <p>
                                        Registrate para recibir correos electronicos y conocer las ultimas novedades de SCORE
                                    </p>
                                </ion-item>

                                <ion-item class="item item-text-wrap" color="withe">
                                    <ion-checkbox color="primary"> </ion-checkbox>
                                    <p>
                                        Al crear una cuenta, aceptas la politica de privacidad y los terminos de uso de SCORE
                                    </p>
                                </ion-item>

                                <span class="text-primary" (click)="VerTerminosCondiciones()">
                  Ver Terminos y condiciones
                </span>
                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" color="tertiary" shape="round">
                                Crear usuario
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button shape="round" expand="full" size="small" fill="outline" (click)="mostrarRegistro()">
                    Ingresar
                </ion-button>
            </ion-col>

            <ion-col>
                <ion-button shape="round" expand="full" size="small" fill="outline" (click)="mostrarLogin()">
                    Registrarme
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>