.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

ion-slide{
    background: url('src/assets/img/Fondo.png');
}

ion-label{
    color:white;
}

ion-item{
    color:black;
    
}

.input-wrapper{
    background-color: transparent !important;
}

.item-native{
    background-color: transparent !important;
}

ion-list{
    background-color: transparent;
}