<app-header title="Finalizados">

  </app-header>

<ion-content color ="dark">
    
    <ion-slides [options]="slideOpts" >
  
        <ion-slide *ngFor="let mc of microcontenidosFinalizados">
          
          <ion-card color ="dark">
              <ion-card-header>
                  <ion-card-subtitle>                    
                    <span [innerHTML]="mc.Title"></span>                                              
                  </ion-card-subtitle>
                  <ion-card-title class="text-primary" [innerHTML]="mc.Name"></ion-card-title>
                </ion-card-header>




            <img [src]="mc.Image | imagen">

            <ion-card-content>
                <p>
                  {{ mc.Content }}
                </p>
                <p><span>Puntaje</span> 
                    {{ mc.PointsApproval }}
                  </p>
              </ion-card-content>
          </ion-card>
      
      
        </ion-slide>
      </ion-slides>

</ion-content>
