ion-segment-button {
    background-color: #efefef !important;
    color: black !important;
}

.segment-button-checked {
    color: #4a828d !important;
}

ion-card {
    border: 1px #ffffff3d solid !important;
    --background: white;
}

ion-content {
    --background: #efefef !important;
    background-color: #efefef !important;
}

ion-card-title {
    color: #4a828d !important;
    text-align: center;
}

span {
    color: #4a828d !important;
}

ion-button {
    background-color: #4a828d !important;
    color: white !important;
    border-radius: 20px;
}