<app-header title="Aprendizaje">

</app-header>

<ion-content>
  
<ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Mis objetos de aprendizaje</h3>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-segment scrollable 
                mode="md" 
                color="primary"
                (ionChange)="cambioCategoria( $event )">                
              <ion-segment-button mode="md"
                        *ngFor="let mc of objetosaprendizajes"
                        [value]="mc.name">
              <ion-label text-capitalize>{{ mc.name }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
      </ion-row>
    
    
  </ion-grid>

    
  

  

      
        
        <ion-card *ngIf="objaprendizaje">
            <ion-card-header>
                <ion-card-subtitle>                    
                  <span class="text-primary" [innerHTML]="objaprendizaje.name | noSanitize"></span>                                              
                </ion-card-subtitle>
                <ion-card-title class="text-primary" [innerHTML]="objaprendizaje.title | noSanitize"></ion-card-title>
              </ion-card-header>




          <img [src]="objaprendizaje.Image | imagen">

          <ion-card-content>
              <div [innerHTML]="objaprendizaje.content | noSanitize"></div>

                  <div> {{objaprendizaje.content | noSanitize}} </div>
                
              
              <p><span>Puntaje</span> 
                  {{ objaprendizaje.points }}
                </p>
            </ion-card-content>
        </ion-card>
    
    
      
    

</ion-content>
