<app-header title="Aprendizaje">
</app-header>
<ion-content>
    <ion-card *ngIf="objaprendizaje">
        <ion-card-header>
            <ion-card-subtitle>
            </ion-card-subtitle>
            <ion-card-title class="text-primary" [innerHTML]="objaprendizaje.title"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div [innerHTML]='objaprendizaje.content | noSanitize'></div>
            <p><span>Puntaje</span> {{ objaprendizaje.points }}
            </p>
        </ion-card-content>
    </ion-card>

    <app-questions [questions]="questions"></app-questions>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button shape="round" expand="full" size="small" fill="outline" [disabled]='disabledButtonPrevious' (click)="Previous()">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                Anterior
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button shape="round" expand="full" size="small" fill="outline" (click)="Next()" [disabled]='disabledButtonNext'>
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
                Siguiente
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>