ion-segment-button {
    background-color: #efefef !important;
    color: black !important;
}

.segment-button-checked {
    color: #4a828d !important;
}

ion-card {
    border: 1px #ffffff3d solid;
}

ion-content {
    background-color: #efefef;
}

ion-card-title {
    color: #4a828d;
}

span {
    color: #4a828d;
}