ion-card {
    border: 1px #ffffff3d solid;
    --background: white;
}

ion-list {
    background-color: white;
}

ion-card-title {
    color: #4a828d;
}

ion-icon {
    color: #4a828d;
}

ion-content {
    --background: #efefef !important;
}