<app-header title="Categorias">

</app-header>

<ion-content color ="dark">
  
     <ion-grid>
         <ion-row>
             <ion-col col-6 *ngFor="let mc of gestorcontenidos">
                <ion-card color ="dark"  (click)="verobjetosAprendizaje(mc.id)">
                     
        
                  <ion-card-content>
                    <ion-list>
                        <ion-item color="dark" >

                                <ion-card-title class="text-primary" [innerHTML]="mc.name"></ion-card-title>
                                <br/>
                                

                        </ion-item>   
                        <ion-item color="dark" >
                            <ion-icon slot="end" src="/assets/Candado-cerrado.svg"></ion-icon>
                        </ion-item>
                        
                    </ion-list>
                    </ion-card-content>
                </ion-card>
             </ion-col>
         </ion-row>
     </ion-grid>
        
        
    
    
      
    

</ion-content>
