<ion-menu side="end" menuId="primerMenu" contentId="principal">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menú Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle *ngFor="let c of componentes | async">
                <ion-item [routerLink]="c.redirectTo">
                    <ion-icon slot="start" [name]="c.icon"></ion-icon>
                    <ion-label color="#4a828d">{{ c.name }}</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <ion-item (click)="logout()">
                    <ion-icon slot="start" name="exit"></ion-icon>
                    <ion-label color="danger">Salir</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>